.gradle
.idea
build/
/**/*.iml
/**/*.ipr
/**/*.iws
/**/out/*
/**/*.keep
java/**/gradle/
java/**/gradlew
java/**/gradlew.bat
java**/.idea/*
scala/**/target/
scala/**/project/boot/
scala/**/project/plugins/project
/**/my-notes.txt
